.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon-only {
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.search-icon-only:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.search-input {
  width: 200px;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.search-input.hidden {
  width: 0;
  opacity: 0;
  padding: 0;
  border: none;
  pointer-events: none;
}

.search-input.visible {
  width: 200px;
  opacity: 1;
}

.fixed-nav-tools {
  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 1000;
}
.navbar-logo {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.navbar-toggler {
  background: none;
  border: none;
  font-size: 1.9rem;
  color: white;
}
