.search-trigger {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 0;
  opacity: 0;
  transition: width 0.4s ease, opacity 0.4s ease;
  margin-left: 10px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.search-bar.visible {
  width: 180px;
  opacity: 1;
}
.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.fixed-nav-tools {
  position: absolute; 
  top: 0;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 1000;
}
.navbar-logo {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}



.color-buttons{
  background-color:  #D4AF37;
}

.page-background-color{
  background-color: #FBE8E7;
}

.products-card{
  background-color: #EED9C4;
}

.main-text{
  color:  #2F2F2F;
}