.color-buttons {
  background-color: #d4af37;
}

.page-background-color {
  background-color: #fbe8e7;
}

.products-card {
  background-color: #eed9c4;
}

.profile-options-background {
  background-color: #ffe0ff;
}
.list-group-item.profile-options-background {
  background-color: #ffe0ff !important;
  color: #000 !important;
}

.list-group-item.profile-options-background:hover {
  background-color: #a495b6 !important;
  color: #fff !important;
}

.list-group-item.profile-options-background:active {
  background-color: #000 !important;
  color: #fff !important;
}
.list-group-item.profile-options-background.active {
  background-color: #6f42c1 !important; /* morado Bootstrap, por ejemplo */
  color: #fff !important;
}

.main-text {
  color: #2f2f2f;
}

.disabled-section {
  pointer-events: none;
  opacity: 0.5;
}

.input-data-missing {
  border: 1px solid red !important;
  box-shadow: 0 0 5px red;
}
